<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Origin Search | Chrome UX Report</title>
		<link rel="stylesheet" href="/static/css/styles.css">
	</head>

	<body>
		<h1>Search the Chrome UX Report</h1>
		<input id="search" type="search" autofocus="true" placeholder="http://www.example.com">
		<span id="summary"></span>
		<ul id="results"></ul>
		<script src="/static/js/index.js"></script>
	</body>
</html>